.btns1 button a{
    color: white;
    
    
    
   
    text-decoration: none;
    
}
.btns1 button{
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(155, 2, 155);
    max-width: 100% !important;
    border: none;
    outline: none;
    padding: 10px;
}